<div id="fastbar">
  <div class="btn-group w-100 p-2">
    <button
      type="button"
      (click)="shortcutbtnclicked.emit()"
      class="btn btn-link w-100"
    >
      <i class="bi bi-keyboard align-middle"></i>
      @if (!appStorage.easyMode) {
        <span class="d-none d-md-inline"> {{ buttonLabels.shortcuts }}</span>
      }
      @if (!appStorage.easyMode) {
        <span class="d-none d-lg-inline"> [ALT + 8]</span>
      }
    </button>
    @if (appStorage.useMode !== 'url') {
      <button
        type="button"
        (click)="guidelinesbtnclicked.emit()"
        class="btn btn-link w-100"
      >
        <i class="bi bi-card-list"></i>
        @if (!appStorage.easyMode) {
          <span class="d-none d-md-inline"> {{ buttonLabels.guidelines }}</span>
        }
        @if (!appStorage.easyMode) {
          <span class="d-none d-lg-inline"> [ALT + 9]</span>
        }
      </button>
    }
    <button
      type="button"
      (click)="overviewbtnclicked.emit()"
      class="btn btn-link w-100"
    >
      <i class="bi bi-eye-fill"></i>
      @if (!appStorage.easyMode) {
        <span class="d-none d-md-inline"> {{ buttonLabels.overview }}</span>
      }
      @if (!appStorage.easyMode) {
        <span class="d-none d-lg-inline"> [ALT + 0]</span>
      }
    </button>
    <button type="button" (click)="openHelpModal()" class="btn btn-link w-100">
      <i class="bi bi-question-circle-fill"></i>
      @if (!appStorage.easyMode) {
        <span class="d-none d-md-inline"> {{ buttonLabels.help }}</span>
      }
    </button>
  </div>
</div>
