#fastbar {
  font-size: 0.8em;
  text-align: center;
}

#fastbar .btn-link,
#fastbar .btn-link:hover,
#fastbar .btn-link:focus {
  color: var(--octra-text-primary);
}

#fastbar div {
  text-align: center;
}

.btn-group.btn-group-justified.btn-group-sm {
  margin: 0;
}
