.dropzone {
  border: 2px dashed var(--octra-accent-warning);
  background-color: var(--octra-waveform-background);
  padding: 20px;
  min-height: 100px;
  text-align: center;
  width: 100%;
}

.dropzone:hover {
  cursor: pointer;
}

.dropzone .dragndrop {
  padding: 10px;
  color: black;
  font-size: 30px;
}
